# IDE and editors
.idea/
.vscode/
.DS_Store

# Dependencies
node_modules/
/.pnp
.pnp.js

# Build and dist
/build
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (local only)
.env.local
.env.development.local

# System files
*.pem

# Development tools
.cache/
.ipynb_checkpoints/
